{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container main-container h-100">
        <div class="row">
            <div class="col-md-12 col-lg-6 offset-lg-2 my-5 text-center cta-text-wrapper">
                <h1 class="display-4 text-black-orange cta-text">
                    Perfect tires for Your car
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 my-5 mx-auto cta-btn-wrapper">
                <a href="{% url 'products' %}" class="btn btn-outline-light cta-btn" data-mdb-ripple-color="light">Find Yours now</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        if($(this).width() < 992){
            $(".cta-text-wrapper").removeClass("my-5");
            $(".cta-btn-wrapper").removeClass("my-5");
            $(".main-container").removeClass("h-100");
            $(".cta-text-wrapper").addClass("my-2");
            $(".cta-btn-wrapper").addClass("my-2");
        }
    </script>
{% endblock %}