#mobilemenu {
    display: none;
    max-width: 500px;
    margin: auto;
    height: 100%;
    margin-bottom: 20px;
}

#hidemenumobile {
    display: none;
}

@media (min-width: 1499px) {
    .mobile-topnav {
        display: none;
    }
}